#!/bin/bash

cd /home/steam/scripts/
git clone https://github.com/Clan-ArgA/arga-server-updater.git
cd arga-server-updater
echo "STEAM_USER=anonymous" > ./server_updater/.env
echo "STEAM_PASS=" >> ./server_updater/.env
pip install --no-cache-dir -r requirements.txt
cp /home/steam/scripts/arga-server-updater/server_updater/reforger_server_config.json /home/steam/steamcmd/reforger/config